Flask==1.0.3
luigi==2.8.6
tqdm==4.32.2
tika==1.19
EpiTator==1.3.2
pandas==0.24.1
requests==2.20.0
didyoumean.py==1.0
imbalanced_learn==0.5.0
numpy==1.16.4
typing==3.7.4
nltk==3.4.1
pytest==4.0.1
SPARQLWrapper==1.8.4
boilerpipe==1.2.0.0
beautifulsoup4==4.8.0
didyoumean==1.0
imblearn==0.0
scikit_learn==0.21.3
tensorflow==1.12.0
keras==2.2.4
